<apex:page id="SiteErrorPage" showHeader="false" sideBar="false" standardStylesheets="false" docType="html-5.0" cache="false" >

    <apex:composition template="SiteTemplate">
        <apex:define name="pageTitle">Error Page</apex:define>
        <apex:define name="bodyContent">
            <div class="slds-text-heading--small slds-truncate">Error!</div>
            <div class="slds-p-around--x-large">
                <p>The content you were looking for was not found. Please make sure you have the correct url.</p>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>